* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.canvas-container {
  width: 100%;
  height: 100vh;
  padding: 40px;
}

.event-show {
  width: 200px;
}
.actions {
  padding: 4px 0px;
}
.btn {
  padding: 4px;
  border: 1px solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover {
  background-color: #eeeeee;
}
